@model ShopTARge23.Models.OpenWeather.OpenWeatherViewModel;

<div class="container mt-4">
    <h1 class="font-weight-bold">City</h1>
    <h3 class="font-weight-bold mb-4">Forecast for the selected city</h3>

    <div class="row mb-2">
        <div class="col-sm-2 font-weight-bold">City:</div>
        <div class="col-sm-10">@Model.City</div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-2 font-weight-bold">Temperature:</div>
        <div class="col-sm-10">@Model.Temp.ToString("0.##") °C</div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-2 font-weight-bold">Temp Feels like:</div>
        <div class="col-sm-10">@Model.FeelsLike.ToString("0.##") °C</div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-2 font-weight-bold">Humidity:</div>
        <div class="col-sm-10">@Model.Humidity %</div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-2 font-weight-bold">Pressure:</div>
        <div class="col-sm-10">@Model.Pressure Hpa</div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-2 font-weight-bold">Wind Speed:</div>
        <div class="col-sm-10">@Model.WindSpeed.ToString("0.##") Km/h</div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-2 font-weight-bold">Weather Condition:</div>
        <div class="col-sm-10">@Model.Description</div>
    </div>

    <form method="get">
        <button asp-controller="OpenWeather" asp-action="Index" class="btn btn-success px-4">Return</button>
    </form>
</div>